* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    overflow-x: hidden;
}

.posts-complaint-container {
    width: 100vw;
    height: 100vh;

    padding-left: 25px;
    padding-right: 25px;

    background-color: #F1F1F1;

    overflow-x: hidden;
    overflow-y: hidden;
}

table {
    width: 100%;
}

.title-table {
    width: 100%;

    background-color: #F8670E;
}

.title-table th {
    color: #FFF;
    text-align: center;

    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;

    padding: 10px;
}

.value-table {
    width: 100%;

    background-color: #FFF;
}

.value-table td{
    color: #000;
    text-align: center;

    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;

    height: 50px;
}

.value-table button{
    color: #FFF;

    background-color: #A512BD;

    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;

    padding: 10px;
    border-radius: 15px;

    border: none;
}