header {
    width: 100vw;
    height: 80px;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    background-color: #A512BD;
}

.menu-bars {
    margin-left: 20px;
}

.nav-menu {
    width: 300px;
    height: 100vh;

    display: flex;
    justify-content: center;

    position: fixed;
    top: 0;
    left: -100%;
    transition: 1500ms;
}

.nav-menu.active {
    left: 0;
    transition: 500ms;
}

.nav-menu-items {
    width: 100%;

    background-color: #F8670E;

    border-radius: 0px 15px 15px 0px;
}

.navbar-toggle {
    width: 100%;
    height: 80px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.button-container {
    background-color: transparent;
    border: none;
}

.icon-button {
    width: 30px;
    height: 30px;
}

.nav-buttons-container {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 5px;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    color: #FFF;
    font-size: 35px;
    font-weight: bold;
    font-family: sans-serif;
}

.pessoal-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 15px;

    margin-bottom: 15px;
}

.img-container {
    width: 200px;
    height: 200px;

    overflow-x: hidden;
    overflow-y: hidden;

    margin-top: 15px;
    margin-bottom: 15px;

    border-radius: 100px;

    background-color: #D9D9D9;
}

.img {
    width: 100%;
    height: 100%;

    border-radius: 200px;
}

.name-container h1 {
    color: #FFF;
}

.buttons-container {
    display: flex;
    flex-direction: column;

    gap: 10px;

    padding-left: 10px;
    padding-right: 10px;
}

.normal-buttons {
    display: flex;
    flex-direction: column;

    gap: 10px;
}

.nav-button {
    width: 100%;
    height: 55px;

    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 10px;

    text-decoration: none;
    background-color: #CB5106;

    border-radius: 15px;
    padding: 5px;
}

.nav-button h1 {
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
}

.nav-button-exit {
    width: 100%;
    height: 50px;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    text-decoration: none;
    background-color: #530260;

    border-radius: 15px;
    padding: 4px;
}

.nav-button-exit h1 {
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
}